<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Balance</th>
          <th scope="col">History</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{ account.id }}</td>
          <td>{{ account.lastName }}</td>
          <td>{{ account.firstName }}</td>
          <td>{{ account.balance }}</td>
          <td><mat-icon (click)="onHistoryAccount(account)">history</mat-icon></td>
          <!-- [routerLink]="['history', account.id]" -->
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="onOperation()">Opération</button>
  </div>
</div>
